@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Header */
#nav-bar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  box-shadow: 0 2px 4px #ccc;
  padding: 0 70px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

#left-nav-bar {
  display: flex;
  justify-content: space-between;
  width: 36%;
  min-width: 400px;
}

#shop-name {
  cursor: pointer;
}

#shop-name-first {
  font-size: 36px;
  letter-spacing: 0px;
  font-weight: 800;
}

#shop-name-last {
  font-size: 36px;
  font-weight: 400;
}

#cloth-menu,
#acces-menu {
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

#search-box {
  width: 30%;
  height: 30px;
  outline: none;
  border: none;
  background-color: rgb(236, 231, 231);
  padding: 0 10px;
  margin: 0 10px;
}

#right-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-cart {
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

#cart-item-count {
  position: absolute;
  bottom: 3px;
  left: 16px;
  font-size: 12px;
  background-color: #009688;
  color: white;
  padding: 5px;
  width: 10px;
  height: 10px;
  text-align: center;
  border-radius: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

#profile-pic {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

/* Main content */
#notice {
  box-sizing: content-box;
  background-color: rgb(247, 247, 247);
  box-shadow: 1px 1px 2px;
  padding: 5px 10px;
  border: 2px dotted black;
  border-radius: 20px;
  position: absolute;
  right: 600px;
  top: 90px;
  text-align: center;
  align-items: center;
  animation-name: discount-frame;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

#notice p span {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: rgb(13, 189, 36);
}

@keyframes discount-frame {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

#checkout-content {
  margin-top: 100px;
  min-height: 80vh;
  padding: 20px 10%;
}

#content-wrapper {
  display: flex;
}

#left-section {
  width: 50%;
}

.checkout-card-wrapper {
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #ccc;
  border-radius: 5px;
  background-color: white;
  max-width: 600px;
  padding: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  max-height: 140px;
}

.checkout-card-image {
  width: 80px;
  min-width: 80px;
  border-radius: 5px;
  margin-right: 16px;
}

.checkout-card-header,
.checkout-item-count,
.checkout-item-amount {
  margin: 0;
}

.place-order-card h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  padding: 0;
}

#checkout-total-amount {
  font-size: 20px;
  margin: 10px 0px 10px 0;
}

#checkout-total-amount span {
  color: #000000;
  font-weight: 600;
}

#discount-coupon {
  outline: none;
  border: 1px solid rgb(212, 211, 211);
  padding: 4px 8px;
}

#promo-code-status {
  margin: 0;
  margin-top: 10px;
  background-color: rgb(153, 235, 250);
  border-radius: 2px;
  padding: 4px;
  color: rgb(0, 0, 0);
  width: fit-content;
  display: none;
}

#discount-coupon-button {
  background-color: rgb(134, 203, 248);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

#discount-coupon-button:hover {
  background-color: rgb(21, 182, 21);
}

#right-section {
  width: 50%;
}

.place-order-card {
  width: 100%;
  height: fit-content;
  margin-top: 60px;
  margin-left: 5%;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #ccc;
  border-radius: 5px;
  padding: 16px;
}

#place-order-button {
  background-color: #009688;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 18px 36px;
  border-radius: 6px;
  margin-top: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  color: white;
}

#place-order-button:hover {
  background-color: #0ac5b2;
}

/* Page footer */

#page-footer {
  display: flex;
  padding: 50px 20%;
  background-color: #1D1C1F;
  color: rgb(214, 211, 211);
  line-height: 1;
  margin-top: 100px;
  justify-content: space-between;
}

#online-store,
#helpful-links,
#partners {
  display: flex;
  flex-direction: column;
}

#online-store :nth-child(n + 2),
#helpful-links :nth-child(n + 2),
#partners :nth-child(n + 2) {
  cursor: pointer;
}

.footer-link {
  text-decoration: none;
  color: rgb(214, 211, 211);
  font-weight: 300;
  line-height: 2;
}

#online-store :first-child,
#helpful-links :first-child,
#partners :first-child,
#address:first-child {
  font-weight: 600;
  margin-bottom: 10px;
}

/* project Logo */

#project-logo {
  position: fixed;
  width: 120px;
  height: 60px;
  bottom: 40px;
  right: 40px;
}

/* MOBILE RESPONSIVE */

@media (max-width: 480px) {
  /* Header */

  #nav-bar {
    padding: 0 25%;
    width: 100%;
  }
  #left-nav-bar {
    min-width: 250px;
  }

  #cloth-menu,
  #acces-menu {
    margin: 0px 2px;
    display: none;
  }
  #search-box {
    display: none;
  }
  #right-nav-bar {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Notice */
  #notice {
    right: 100px;
    top: 90px;
    box-shadow: none;
  }

  #checkout-content {
    margin-top: 160px;
  }
  #notice p {
    margin: 0px;
  }

  #content-wrapper {
    flex-direction: column;
  }

  #checkout-content {
    padding-top: 0;
  }

  #left-section {
    width: 100%;
  }

  #right-section {
    width: 100%;
  }

  .place-order-card {
    margin-left: 0;
  }

  .checkout-card-wrapper {
    width: 100%;
    max-width: 1200px;
  }

  .checkout-text {
    margin-bottom: 0;
  }

  /* page footer */

  #page-footer {
    padding: 20px 5%;
    margin-top: 50px;
    text-align: center;
  }
  #online-store :first-child,
  #helpful-links :first-child,
  #partners :first-child,
  #address:first-child {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 13px;
  }

  #online-store :nth-child(n + 2),
  #helpful-links :nth-child(n + 2),
  #partners :nth-child(n + 2),
  #address :nth-child(n + 2) {
    font-size: 10px;
    margin: 0;
  }

  #address-first {
    font-size: 13px;
    font-weight: 600;
  }
}

